<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="/springweb/a00_com/vue.js"></script>

<script type="text/javascript">
/*
# 양방향 directive
1. 모델 데이터를 선언하고 
2. 입력형식의 태그 form 하위의 객체에 v-model로
	모델 속성을 선언하면,
3. 입력되는 데이터는 모델 데이터에 영향을 미치고,
	이 모델 데이터를 호출하는 각 화면에 구성 요소들으
	이에 영향을 받아서 처리되는 형태를 말한다.
	ex)
	form 요소 객체 <input v-model="모델명">
	data:{모델명:""}
	<h2>{{모델명}}</h2>
	form요소객체의 데이터값의 입력이나 변경이 최종적으로 화면에
	모델표현 데이터에 영향을 미쳐서 처리된다.
	
	
	
	
4. 즉, 이벤트와 같이 입력key를 처리할 때, 바로 반영이 된다.
5. 기본 형식
	1) 모델 데이터 선언
	2) form 하위 객체 요소 속성 v-model="모델명"
	3) 출력할 모델 데이터 directive 형식 중에 하나로 선언.
 */	
	$(document).ready(function(){
		var model = {data01:""}
		var vm = new Vue({
			el:".container",
			data:model
		})
		// a07_biDirective.html
		// form하위에 물건명 가격 갯수를 입력한 내용을
		// 테이블에 출력되게 하세요..
	});
</script>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
	  <h2 >모델데이터:{{data01}}</h2>
	  <h2 >모델데이터:{{data01}}</h2>
	  <h2 >모델데이터:{{data01}}</h2>
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input v-model="data01" class="form-control mr-sm-2" placeholder="제목" />
	    <input class="form-control mr-sm-2" placeholder="내용" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>