<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
</head>
<body>
	<div id="show">
		<h2 align="center">{{msg}}</h2>
		<p align="center">
			숫자1:<input type="number" v-model="num01"/><br>
			숫자2:<input type="number" v-model="num02"/><br>
			{{num01}} + {{num02}} = {{sum}}
		</p>
	</div>
</body>
<script>
/*
# watch 속성 기능 메서드
1. watch는 속성명이 모델데이터가 동일하여, 모델 데이터가 변경시,
	기능적 함수를 처리해야할 필요가 있을 때, 사용한다.
2. 모델명:function(입력된값할당변수){} 기본형식으로 모델에 입력된
	갑을 매개변수로 받아서 처리한다.
3. 모델의 값의 입력시, 추가적으로 여러가지 기능적 메서드 처리가 필요할 때,
	주로 사용된다.
 
 */
	var vm = new Vue({
		el:"#show",
		data:{msg:"watch 속성!!",
			  num01:0,num02:0,sum:0},
		watch:{
			num01:function(num01){
				console.log("num01:입력된 값:"+num01)
				var result = Number(num01) + Number(this.num02)
				// 숫자가 입력되지 않을 때, sum 모델 데이터를 0으로 처리
				// isNaN : 숫자형에 대한 유효성 처리를 한다.
				if( isNaN(result) ){
					this.sum = 0
					this.num01 = 0;
				}else {
					this.sum = result
				}
			},
			num02:function(num02){
				console.log("num02입력된 값:"+num02)
				var result = Number(this.num01) + Number(num02)
				console.log("결과:"+result)
				// 숫자가 입력되지 않을 때, sum 모델 데이터를 0으로 처리
				if( isNaN(result) ){
					this.sum = 0
					this.num02 = 0
				}else {
					this.sum = result
				
				}
			}
		}
	});
	// ex) a04_watch.html   환률 계산을 검색해서
	//     한국 원화를 입력했을 watch에 의해 달러와 앤화가 출력되게 하세요.
	
	
</script>
</html>