<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>backendWeb</display-name>
  <error-page>
  	<error-code>404</error-code>
  	<location>/a09_exception/z02_404Error.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/a09_exception/z01_error.jsp</location>
  </error-page>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>A01_servlet01</display-name>
    <servlet-name>A01_servlet01</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A01_servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A01_servlet01</servlet-name>
    <url-pattern>/A01_servlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A01Servlet</display-name>
    <servlet-name>A01Servlet</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A01Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A01Servlet</servlet-name>
    <url-pattern>/A01Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlRendering</display-name>
    <servlet-name>htmlRendering</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A03_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlRendering</servlet-name>
    <url-pattern>/htmlRendering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet04</display-name>
    <servlet-name>servlet04</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet04</servlet-name>
    <url-pattern>/servlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalgradeDataServlet</display-name>
    <servlet-name>SalgradeDataServlet</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A05_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalgradeDataServlet</servlet-name>
    <url-pattern>/SalgradeDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeIns.do</display-name>
    <servlet-name>codeIns.do</servlet-name>
    <servlet-class>backendWeb.a01_servlet.A06_CodeInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeIns.do</servlet-name>
    <url-pattern>/codeIns.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>backendWeb.a01_servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>