<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="emp" type="com.web.board.vo.Emp"/>
		<typeAlias alias="board" type="com.web.board.vo.Board"/>
		<typeAlias alias="member" type="com.web.board.vo.Member"/>
		<typeAlias alias="boardfile" type="com.web.board.vo.BoardFile"/>
		<typeAlias alias="boardsch" type="com.web.board.vo.BoardSch"/>
	</typeAliases>
</configuration>