<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="springweb.a05_mvcexp.a03_dao.A01_MemberDao">
	<select id="memberList" 
		parameterType="member" 
		resultType="member" >
		SELECT * 
		FROM MEMBER01
		WHERE id LIKE '%'||#{id}||'%'
		AND name LIKE '%'||#{name}||'%'
	</select>
	<!-- 
// springweb.a05_mvcexp.a03_dao.A01_MemberDao
public interface A01_MemberDao {
	public List<Member> memberList(Member sch);
}	
	 -->
	<!-- 
	sql = " like ? "
	pstmt.setString(1, sch.getId());
	parameterType="member"가 가지고 있는 getXXX()
	에 property이어야 한다.
	===> 인터페이스를 상속한 실제객체가 mybatis에 의해
	만들어 진다.
	 -->
	<select id="exp01" resultType="string" >
		select ename
		FROM emp
		WHERE empno = 7369			
	</select>	 
	<select id="daoexp2" resultType="string">
		SELECT job
		FROM emp
		WHERE empno = 7369		
	</select>
	<select id="daoexp3" resultType="int">
		SELECT deptno
		FROM emp
		WHERE empno = 7521		
	</select>		
	<select id="exp04" parameterType="string"
					   resultType="string">
		SELECT job
		FROM emp
		WHERE ename=#{ename}						           
	</select>	
	<select id="exp05" parameterType="int" resultType="double">
		SELECT sal	
		FROM emp
		WHERE empno = #{empno}	
	</select>
	<select id="exp06" parameterType="string" resultType="int">
		SELECT mgr
		FROM emp
		WHERE ename = #{ename}	
	</select>
	<select id="exp07" parameterType="int" resultType="date">
		SELECT hiredate 
		FROM emp
		WHERE empno = #{empno}
	</select>
	<!-- 
	// INSERT INTO dept01 values(11,'인사','서울')
	public void exp08Ins(Dept ins);	
	 -->
	<insert id="exp08Ins" parameterType="dept">
		INSERT INTO dept01 values(#{deptno},#{dname},#{loc})
	</insert>
	<!-- 
	public void exp09insStu(Student ins);	
	 -->
	<insert id="exp09insStu" parameterType="student">
		INSERT INTO STUDENT02 values(#{sno},#{name},#{kor},#{eng},#{math})	
	</insert>
	<insert id="exp10InsLoc" parameterType="location">
		INSERT INTO locations10
		values(#{location_id},#{street_address},
				#{postal_code},#{city},
				#{state_province},#{country_id})
	</insert>
	<select id="exp11EmpList" resultType="emp" 
		parameterType="emp">
		SELECT *
		FROM emp
		WHERE ename LIKE '%'||#{ename}||'%'
		AND sal BETWEEN #{minSal} AND #{maxSal}
	</select>	
	<select id="exp12EmpList" resultType="emp"
			parameterType="map">
		select *
		from emp
		where ename like '%'||#{ename_sch}||'%'
		and job like '%'||#{job_sch}||'%'	
	</select>	
	<select id="exp13EmpList" resultType="emp"
			parameterType="map">
		SELECT *
		FROM emp
		WHERE job IN (#{job01},#{job02})	
	</select>
	<insert id="exp14DeptInsert">
		INSERT INTO dept01 values(#{no},#{dpartnm},
		                          #{location})	
	</insert>		
	<select id="exp15EmpList" resultType="emp">
		SELECT *
		FROM emp
		WHERE hiredate 
		BETWEEN to_date(#{startDte},'YYYY-MM-DD') 
		AND to_date(#{endDte},'YYYY-MM-DD')	
	</select>	
	<select id="exp16studList" resultType="student">
		SELECT *
		FROM STUDENT02 
		WHERE name LIKE '%'||#{name}||'%'
		AND (kor+eng+math)/3 between #{stPt} AND #{edPt}	
	</select>
	<select id="exp17getEmpLoyee" resultType="employee">
		SELECT employee_id, first_name, last_name,
		       email, phone_number, hire_date,
		       job_id, salary, commission_pct,
		       manager_id, department_id 
		FROM EMPLOYEES
		WHERE EMPLOYEE_ID =#{id}				
	</select>	
	<select id="exp18getJob" resultType="job">
		SELECT job_id, job_title, min_salary, max_salary
		FROM jobs
		WHERE JOB_ID = #{id}
	</select>
	<select id="exp19getEnames" resultType="string">
		SELECT ename
		FROM emp
		WHERE sal BETWEEN #{minSal} AND #{mxSal}			
	</select>	 
	<select id="getCities" resultType="string">
		SELECT city
		FROM locations
		WHERE COUNTRY_ID =#{id}		
	</select>	
	<resultMap type="emp" id="rst01">
		<id column="no" property="empno"/>
		<result column="name" property="ename"/>
		<result column="salary" property="sal"/>
	</resultMap>
	<select id="getEmpResultExp" resultMap="rst01">
		SELECT empno NO, ename name,
		       sal salary
		FROM emp02	
		order by no
	</select>
	<resultMap type="dept" id="dRlt">
		<id column="no" property="deptno"/>
		<result column="name" property="dname"/>
		<result column="location" property="loc"/>
	</resultMap>
	<select id="getDeptResultExp" resultMap="dRlt">
		SELECT deptno NO, dname name, loc location
		FROM dept01
	</select>
	<!-- 
		public EmpDept getEmpDeptList(@Param("ename") String ename,
									  @Param("dname") String dname);  
	
	
	 -->
	<resultMap type="empdept" id="edRst">
		<association property="emp"   javaType="emp">
			<id column="empno" property="empno"/>
			<result column="ename" property="ename"/>
			<result column="job" property="job"/>
			<result column="mgr" property="mgr"/>
			<result column="sal" property="sal"/>
			<result column="hiredate" property="hiredate"/>
			<result column="comm" property="comm"/>
			<result column="deptno" property="deptno"/>
		</association>
		<association property="dept"   javaType="dept">
			<id column="deptno" property="deptno"/>
			<result column="dname" property="dname"/>
			<result column="loc" property="loc"/>
		</association>
	</resultMap>
	
	
	<select id="getEmpDeptList" resultMap="edRst" >
		SELECT e.*, dname, loc
		FROM emp e, dept d
		WHERE e.deptno =d.deptno
		AND ename LIKE '%'||#{ename}||'%'
		AND dname LIKE '%'||#{dname}||'%'		
	</select>
	<resultMap type="empjob" id="ejRst">
		<association property="employee"   javaType="employee">
			<id column="employee_id" property="employee_id"/>
			<result column="first_name" property="first_name"/>
			<result column="last_name" property="last_name"/>
			<result column="email" property="email"/>
			<result column="phone_number" property="phone_number"/>
			<result column="hire_date" property="hire_date"/>
			<result column="job_id" property="job_id"/>
			<result column="salary" property="salary"/>
			<result column="commission_pct" property="commission_pct"/>
			<result column="manager_id" property="manager_id"/>
			<result column="department_id" property="department_id"/>
		</association>
		<association property="job"   javaType="job">
			<id column="job_id" property="job_id"/>
			<result column="job_title" property="job_title"/>
			<result column="min_salary" property="min_salary"/>
			<result column="max_salary" property="max_salary"/>
		</association>		
	</resultMap>	 
	<select id="getEmpJobList" resultMap="ejRst">
		SELECT e.*, job_title, min_salary,
			   max_salary
		FROM EMPLOYEES e, JOBS j	
		WHERE e.JOB_ID = j.JOB_ID
		AND first_name LIKE '%'||#{first_name}||'%'
		AND job_title LIKE '%'||#{job_title}||'%'	
	</select>	
	<!-- 
List<Emp> getDynamicSQL(@Param("ename") 
									String ename)	
	 -->
	<select id="getDynamicSQL" resultType="emp">
		select *
		from emp
		where 1=1
		<if test="ename != null">
			and ename like '%'||#{ename}||'%'
		</if>
	</select> 
	<select id="getEmpByEmpnos" resultType="emp">
		SELECT *
		FROM emp
		WHERE empno IN	
		<foreach collection="empnos" item="empno"
			separator="," open="(" close=")">
			#{empno}
		</foreach>
	</select>	
	
	 
</mapper>	