<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="springweb.a05_mvcexp.a03_dao.A01_MemberDao">
	<select id="memberList" 
		parameterType="member" 
		resultType="member">
		SELECT * 
		FROM MEMBER01
		WHERE id LIKE '%'||#{id}||'%'
		AND name LIKE '%'||#{name}||'%'
	</select>
	<!-- 
// springweb.a05_mvcexp.a03_dao.A01_MemberDao
public interface A01_MemberDao {
	public List<Member> memberList(Member sch);
}	
	 -->
	<!-- 
	sql = " like ? "
	pstmt.setString(1, sch.getId());
	parameterType="member"가 가지고 있는 getXXX()
	에 property이어야 한다.
	===> 인터페이스를 상속한 실제객체가 mybatis에 의해
	만들어 진다.
	 -->
	<select id="exp01" resultType="string" >
		select ename
		FROM emp
		WHERE empno = 7369			
	</select>	 
	<select id="daoexp2" resultType="string">
		SELECT job
		FROM emp
		WHERE empno = 7369		
	</select>
	<select id="daoexp3" resultType="int">
		SELECT deptno
		FROM emp
		WHERE empno = 7521		
	</select>		
	<select id="exp04" parameterType="string"
					   resultType="string">
		SELECT job
		FROM emp
		WHERE ename=#{ename}						           
	</select>	
	<select id="exp05" parameterType="int" resultType="double">
		SELECT sal	
		FROM emp
		WHERE empno = #{empno}	
	</select>
	<select id="exp06" parameterType="string" resultType="int">
		SELECT mgr
		FROM emp
		WHERE ename = #{ename}	
	</select>
	<select id="exp07" parameterType="int" resultType="date">
		SELECT hiredate 
		FROM emp
		WHERE empno = #{empno}
	</select>
	<!-- 
	// INSERT INTO dept01 values(11,'인사','서울')
	public void exp08Ins(Dept ins);	
	 -->
	<insert id="exp08Ins" parameterType="dept">
		INSERT INTO dept01 values(#{deptno},#{dname},#{loc})
	</insert>
	<!-- 
	public void exp09insStu(Student ins);	
	 -->
	<insert id="exp09insStu" parameterType="student">
		INSERT INTO STUDENT02 values(#{sno},#{name},#{kor},#{eng},#{math})	
	</insert>
	<insert id="exp10InsLoc" parameterType="location">
		INSERT INTO locations10
		values(#{location_id},#{street_address},
				#{postal_code},#{city},
				#{state_province},#{country_id})
	</insert>
	<select id="exp11EmpList" resultType="emp" 
		parameterType="emp">
		SELECT *
		FROM emp
		WHERE ename LIKE '%'||#{ename}||'%'
		AND sal BETWEEN #{minSal} AND #{maxSal}
	</select>	
	<select id="exp12EmpList" resultType="emp"
			parameterType="map">
		select *
		from emp
		where ename like '%'||#{ename_sch}||'%'
		and job like '%'||#{job_sch}||'%'	
	</select>	
	<select id="exp13EmpList" resultType="emp"
			parameterType="map">
		SELECT *
		FROM emp
		WHERE job IN (#{job01},#{job02})	
	</select>
	<insert id="exp14DeptInsert">
		INSERT INTO dept01 values(#{no},#{dpartnm},
		                          #{location})	
	</insert>		
	<select id="exp15EmpList" resultType="emp">
		SELECT *
		FROM emp
		WHERE hiredate 
		BETWEEN to_date(#{startDte},'YYYY-MM-DD') 
		AND to_date(#{endDte},'YYYY-MM-DD')	
	</select>	
	<select id="exp16studList" resultType="student">
		SELECT *
		FROM STUDENT02 
		WHERE name LIKE '%'||#{name}||'%'
		AND (kor+eng+math)/3 between #{stPt} AND #{edPt}	
	</select>
	<select id="exp17getEmpLoyee" resultType="employee">
		SELECT employee_id, first_name, last_name,
		       email, phone_number, hire_date,
		       job_id, salary, commission_pct,
		       manager_id, department_id 
		FROM EMPLOYEES
		WHERE EMPLOYEE_ID =#{id}				
	</select>	
	<select id="exp18getJob" resultType="job">
		SELECT job_id, job_title, min_salary, max_salary
		FROM jobs
		WHERE JOB_ID = #{id}
	</select>
	<select id="exp19getEnames" resultType="string">
		SELECT ename
		FROM emp
		WHERE sal BETWEEN #{minSal} AND #{mxSal}			
	</select>	 
				 
				 
</mapper>	