<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="springweb.a05_mvcexp.a03_dao.A08_FullCalDao">
 	<resultMap type="calendar" id="calRst">
 		<result column="start1" property="start"/>
 		<result column="end1" property="end"/>
 	</resultMap>

	<select id="calList" resultMap="calRst" >
		select * from calendar
	</select>
	<insert id="insertCalendar" parameterType="calendar">
		INSERT INTO calendar values(cal_seq.nextval,
			#{title},#{writer},#{start},#{end},
			#{content},#{backgroundColor},#{textColor},
			#{allDay}, #{url})	
	</insert>
</mapper>	